@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans KR' !important;
    cursor: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D.cls-2%7Bfill:%231c1c1c;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='39.72 6.54 39.72 69.75 28.23 58.25 16.73 58.25 16.73 69.75 22.48 75.49 45.47 121.46 91.44 121.46 97.18 109.97 102.93 92.73 102.93 52.51 97.18 46.76 85.69 41.01 68.45 35.27 56.96 29.52 51.21 6.54 39.72 6.54'/%3E%3Crect class='cls-2' x='16.73' y='69.75' width='5.75' height='5.75'/%3E%3Crect class='cls-2' x='22.48' y='75.49' width='5.75' height='11.49'/%3E%3Cpolygon class='cls-2' points='16.73 58.25 28.23 58.25 28.23 52.51 10.99 52.51 10.99 69.75 16.73 69.75 16.73 58.25'/%3E%3Cpolygon class='cls-2' points='33.97 64 33.97 69.75 39.72 69.75 39.72 6.54 33.97 6.54 33.97 58.25 28.23 58.25 28.23 64 33.97 64'/%3E%3Crect class='cls-2' x='28.23' y='86.99' width='5.75' height='11.49'/%3E%3Crect class='cls-2' x='33.97' y='98.48' width='5.75' height='11.49'/%3E%3Cpolygon class='cls-2' points='91.44 121.46 45.47 121.46 45.47 109.97 39.72 109.97 39.72 127.21 97.18 127.21 97.18 109.97 91.44 109.97 91.44 121.46'/%3E%3Crect class='cls-2' x='97.18' y='92.73' width='5.75' height='17.24'/%3E%3Crect class='cls-2' x='39.72' y='0.79' width='11.49' height='5.75'/%3E%3Cpolygon class='cls-2' points='51.21 58.25 56.96 58.25 56.96 35.27 68.45 35.27 68.45 29.52 56.96 29.52 56.96 6.54 51.21 6.54 51.21 58.25'/%3E%3Cpolygon class='cls-2' points='68.45 58.25 74.2 58.25 74.2 41.01 85.69 41.01 85.69 35.27 68.45 35.27 68.45 58.25'/%3E%3Cpolygon class='cls-2' points='85.69 64 91.44 64 91.44 46.76 97.18 46.76 97.18 41.01 85.69 41.01 85.69 64'/%3E%3Crect class='cls-2' x='97.18' y='46.76' width='5.75' height='5.75'/%3E%3Crect class='cls-2' x='102.93' y='52.51' width='5.75' height='40.22'/%3E%3C/svg%3E"), pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

button {
    background-color: transparent;
    border: none;
}
button:focus {
    outline: 0px ;
};